body {
    background-color: #181849;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.drums {
    display: grid;
    gap: 10px;
    width: 950px;
    margin: auto;
    grid-template-columns: auto auto auto ;
    background-color: #2196F3;
    padding: 10px;
    
}
.drums > div {
    background-color: rgb(98, 176, 255);
    color: white;
    width: 150px;
    height: 100px;
    margin: 40px;
    text-align: center;
    font-size: 14px;
  }